version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: cargo
    directory: /
    groups:
      cargo:
        patterns:
          - "*"
    ignore:
      - dependency-name: "solana-sdk"
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directories:
      - /fixtures/*
    groups:
      npm:
        patterns:
          - "*"
    ignore:
      - dependency-name: "ts-mocha"
    schedule:
      interval: weekly
