version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: cargo
    directory: /
    groups:
      cargo:
        patterns:
          - "*"
    schedule:
      interval: weekly
    allow:
      - dependency-type: direct

  - package-ecosystem: npm
    directories:
      - /fixtures/*
    groups:
      npm:
        patterns:
          - "*"
    schedule:
      interval: weekly
